.containerDesktop {
  display: flex;
  flex-direction: column;
  width: 989px;
  align-self: center;
  margin-bottom: 40px;
}

.containerMobile {
  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  align-self: center;
  margin: 0 16px;
  margin-bottom: 40px;
}

.h3Desktop {
  align-self: center;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 24px;
}

.h3Mobile {
  align-self: center;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 24px;
}

.reviewContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviewContainerMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviewContainerMobile > div {
  overflow-x: unset;
}
