.containerDesktop {
  display: flex;
  flex-direction: column;
  width: 351px;
}

.containerMobile {
  display: flex;
  flex-direction: column;
  order: 2;
}

.titleDesktop {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #22222c;
}

.titleMobile {
  margin-top: 40px;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #22222c;
}

.image {
  width: 343px;
}

.accent {
  position: absolute;
  top: calc(375px - 100vw);
  left: -16px;
  width: 100vw;
  z-index: -1;
}

.imgContainer {
  position: relative;
}
