.containerDesktop {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.containerMobile {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 32px);
  margin-bottom: 10px;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 16px;
}

.title {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.description {
  margin: 0;
  font-size: 12px;
  color: #22222c;
  opacity: 0.64;
  line-height: 18px;
}
