.containerDesktop {
  width: 100%;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 32px;
}

.containerMobile {
  width: calc(100% - 32px);
  margin: 16px 16px 24px 16px;
}

.paragraphDesktop {
  font-size: 14px;
  margin: 0;
  margin-bottom: 8px;
}

.paragraphMobile {
  font-size: 14px;
  margin: 0;
  margin-bottom: 8px;
}

.headingDesktop {
  font-size: 40px;
  margin: 0;
}

.headingMobile {
  font-size: 28px;
  margin: 0;
}
